body {
    background-image: url("./assets/sfondo-nat.webp");
    background-position: cover;
    background-size: 100%;
    text-align: center;
    font-size: 2em;
}

#title {
    color: rgb(165, 10, 10);
}

input,
button {
    padding: 0.5em;
}

button {
    background-color: rgb(165, 10, 10);
    color: white;
    font-weight: bold;
}

.list-item {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(165, 10, 10);
    color: white;
    font-size: 1em;
}

.list-item.selected {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(165, 10, 10);
    color: white;
    text-decoration: line-through;
}